<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player</th>
        <th>Assasin Points</th>
        <th>Noob points</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
      <tr>
        <td><h4><%= link_to player.name, player %></h4>

        </td>

        <td>
          <span class='glyphicon  glyphicon-menu-up glyphicon-aligh-left' aria-hidden='true'></span>
        </td>

        <td>
          <span class='glyphicon  glyphicon-menu-down glyphicon-aligh-left' aria-hidden='true'></span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <button class='btn btn-primary'><%= link_to 'New Player', new_player_path %></button>
</div>