<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player</th>
        <th>Assasin Points</th>
        <th>Noob points</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>
          <% @players.each do |player| %>
          <h4><%= link_to player.name, player %></h4>
           <% end %>
        </td>
        
        <td>
          <span class='glyphicon  glyphicon-menu-down glyphicon-aligh-left' aria-hidden='true'></span>
        </td> 

        <td>
          <% Noob.all.each do |noob| %>
          <h4><%= link_to noob.points, noob %></h4>
          <% end %>
        </td>

        
      </tr>
          </tbody>
  </table>
  <button class='btn btn-primary'><%= link_to 'New Player', new_player_path %></button>
</div>